/* Universal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Styles */
html {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    background-color: #141414;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

input, textarea, button {
    font-family: inherit;
}
/* Universa end--------------------------------------- */
header{

  background-color: transparent;
  position: fixed;
  width: 100%;
  top: auto;
   padding: 1rem 0;
    z-index: 10000000000000000;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(202, 202, 202, 0.1);
}
nav{
    /* background-color: #713434; */
    color: #fff;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}
nav ul{
    display: flex;
    gap: 2rem;
    background-color: #141414;
    padding: .5rem 1rem;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    
 box-shadow: 0 0 10px rgba(109, 109, 109, 0.5);
}
nav ul li{
    list-style: none;
    padding: .8rem 1rem ;
}
nav ul li a {
    font-size: 1rem;
}
nav ul li:hover{
    padding: .8rem 1rem ;
    list-style: none; background-color: #2d2d2d;
    border-radius: 10px;
    transition: background-color 0.6s ease, padding 0.3s ease;
}
.active {
    padding: .8rem 1rem ;
    list-style: none; background-color: #2d2d2d;
    border-radius: 10px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.search-bar button{
   color: #fff;
   
}
.search-bar button i{
   
    background: none;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
    /* transition: color 0.3s; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.hero {
background-image: url('image/hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.9) 100%);
    z-index: 1;
}
.hero-content{
z-index: 2;
color: #fff;
max-width: 50%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-bottom: 2rem;
gap: 1rem;
}
.hero-content p{
color: #999999;
}
.hero-content button {
    color: #fff;
    background-color: #E50000;
    padding: 1rem 2rem;
    width: fit-content;
    justify-content: space-between;
}
.fa-play{
    padding: 0rem 1rem;
}

/* hero end--------------------------------------- */

.cate-cont{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
max-width: 100%;
padding: 5rem;
margin: auto;
gap: 2rem;

}
.cate1st{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 80vw;
    
}
.cate-card{
 display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80vw;   
     gap: 1rem;
   
}
.cards{
    background-color: #2d2d2d;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
   
    
}
.cards:hover{

    background-color: #242424;
    transition: background-color 0.6s ease, padding 0.3s ease;
    transform: translateY(-10px);
    transition: transform 0.6s ease;
}
.card-txt{
display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.cate-title p{
    color: #999999;
    max-width: 600px;
}
.card-txt h1{
    font-size: 1rem;
    color: #fff;
    padding: .5rem;
    
}


.cate-indicator{
width:15rem;
height: auto;
display: flex;
justify-content: space-around;

}
.ind{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}
.ind1{
    height: 4px;
    width: 20px;
    background-color: #fff;
}
.act {
    height: 4px;
    width: 20px;
    background-color: #f50000;
}
.fa-arrow-right{
background-color: #3d3d3d;
padding: 1rem;
border-radius: 1rem;


}
.fa-arrow-left{
background-color: #3d3d3d;
padding: 1rem;
border-radius: 1rem;


}
.fa-arrow-right:hover{
background-color: #2b2b2b;
padding: 1rem;
border-radius: 1rem;


}
.fa-arrow-left:hover{
background-color: #2b2b2b;
padding: 1rem;
border-radius: 1rem;


}
